<phpunit colors="true" bootstrap="vendor/autoload.php">
    <php>
        <env name="KERNEL_CLASS" value="DBTool\Kernel" />
    </php>
    <testsuites>
        <testsuite name="default">
            <directory>src/Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
